body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.35;
    margin: 0;
    padding: 30px;
}

form {
    width: 350px;
    margin-right: 50px;
    background-color: #eee;
    padding: 35px 30px;
    border-radius: 20px;
}

.form-item {
    margin-bottom: 20px;
}

.form-title {
    display: block;
    margin-bottom: 10px;
    opacity: 0.6;
}

.form-input {
    font-family: inherit;
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-input.code {
    font-family: monospace;
    font-weight: bold;
}

.form-switch {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.form-switch input {
    appearance: none;
    margin: 0;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.form-switch input:checked {
    background-color: rgb(94, 182, 94);
    left: 33px;
}

button {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

button[type="reset"] {
    margin-right: 10px;
    background-color: #aaa;
    color: #000;
}

.content {
    position: relative;
    height: 297mm;
    width: 210mm;
}

code {
    font-weight: bold;
}

.print-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 90px;
    margin-right: 20px;
}

header b {
    display: block;
    max-width: 280px;
}

header b:first-child {
    font-family: system-ui;
    font-size: 18px;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    margin-bottom: 6px;
    white-space: nowrap;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid;
}

.infos-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    border: 1px solid;
}

.infos-banner:not(:first-of-type) {
    border-top: none;
}

.infos-banner > * {
    padding: 0 10px;
}

.name-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
}

.name-container .dots {
    letter-spacing: 3px;
    margin-left: 10px;
}

.questions {
    column-count: 2;
    column-gap: 30px;
    font-size: 11px;
}

.question {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 4px;
}

.question:hover .remove,
.question:hover .edit {
    opacity: 1;
    visibility: visible;
}

.question .remove,
.question .edit {
    position: absolute;
    top: 0;
    height: 16px;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.question .remove {
    right: 0;
    width: 16px;
    background-color: red;
}

.question .edit {
    right: 20px;
    background-color: green;
    padding: 0 8px;
}

.question-text {
    position: relative;
    display: block;
    padding-left: 35px;
}

.question-text b {
    position: absolute;
    top: -4px;
    left: 0;
    padding: 4px 8px 4px 6px;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border-radius: 0 30px 30px 0;
}

.question ul {
    font-family: monospace;
    font-weight: bold;
    padding-left: 35px;
    margin: 0;
}

.question ul.horizontal {
    display: flex;
}

.question ul.horizontal li {
    margin-right: 15px;
}

.question ul li {
    position: relative;
    list-style: none;
    padding-left: 25px;
    min-height: 14px;
    margin-top: 6px;
}

.question ul li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0.4;
}

.question ul.multi li::before {
    border-radius: 2px;
}

.question ul li:empty {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    footer {
        position: fixed;
    }

    .content,
    .content * {
        visibility: visible;
    }
    .content {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
        padding: 0;
    }

    .print-btn {
        visibility: hidden;
    }
}
